<%- include ("./partials/header.ejs") %>

    <main>
      <h1>Welcome to TWita</h1>
      <p>This is my twitter clone app that I coded to learn more about MongoDB, Data Associations, Express, Node js and JWT authentication.</p>
      <p>
        <a href="/user/login" class="btn btn-primary">Sign In</a>
        <a href="/user/register" class="btn btn-secondary">Register</a>
      </p>
    </main>
    <section id="main-feed">          
     <h2>Latest Tweets</h2>
     
     <% feed.forEach(tweet => { %> 
      <article>
        <h3>
          <i class="fas fa-user-circle"></i> 
          <%= tweet.author.username %></h3>        
        <p><%= tweet.text %></p>
        <%= setDateFormat(tweet.created)%>      
      </article>      
      <% }) %> 
      
     
    </section>

    <footer>
      Coded with <i class="far fa-heart"></i> by <a href="https://github.com/EzequielCaste" id="profile-link" target="_blank">Ezequiel</a>
    </footer>

</body>
</html>
	
<%- include ("./partials/footer.ejs") %>